*{
 margin:0;
 padding:0;
}

body{
 font-family: Montserrat, sans-serif;

}

h1{
 font-size: 24px;
 color: #221f56;
 text-align: center;
 font-family: Montserrat, sans-serif;
}

p{
 font-size: 16px;
 text-align: justify;
 color: #333333;
 font-family: Montserrat-Light, sans-serif;
}


/*----------- Main -----------------*/


.h1_main{
 margin-top: 50px;
 text-align: center;
 padding: 20px;
 font-size: 32px;
 font-weight: 500;
 font-family: Montserrat, sans-serif;
 max-width: 100%;
 line-height: 1.33;
}

.p_main{
 margin-top: 5px;
 text-align: justify;
 font-size: 16px;
 color:#333333;
 display: block;
 margin-left: auto;
 margin-right: auto;
 line-height: 1.33;
 font-family: Montserrat, sans-serif;
}

.h1_main2{
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  font-size: 32px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  max-width: 100%;
  line-height: 1.33;
}


.icons{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 width: 120px;
 height: 30px;
}

.school_main{
  max-width: 100%;
}

.about_school{
  text-align: left;
  color: #333333;
  font-size:18px;
  font-family: Montserrat, sans-serif;;
  padding: 25px;
  margin: 0 10% 0 10%;
}

.img_escola{
  display: inline-block;
}

.img_escola_container{
  text-align: center;
}

.img_big{
  transition: transform .1s;
}

.img_big:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}


@media only screen and (min-width: 621px) and (max-width: 767px){

 *{
   margin:0;
   padding:0;
 }

 body{
   font-family: Montserrat, sans-serif;

 }

 h1{
   font-size: 24px;
   color: #221f56;
   text-align: center;
   font-family: Montserrat, sans-serif;
 }

 p{
   font-size: 16px;
   text-align: justify;
   color: #333333;
   font-family: Montserrat, sans-serif;
 }

  /*----------- Main -----------------*/

 .h1_main{
   margin-top: 5%;
   text-align: center;
   padding: 20px;
   font-size: 46px;
   font-weight: bold;
   font-family: Montserrat, sans-serif;
   max-width: 100%;
   line-height: 1.33;
 }

 .p_main{
   padding: 10px;
   margin-top: 5px;
   text-align: justify;
   font-size: 16px;
   color:#333333;
   display: block;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.33;
 }

 .school_main{
   margin-top: 5%;
 }

 .amor{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   margin-top: 50px;
 }

 .icons{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   width: 120px;
   height: 30px;
 }

 .img_escola_container{
  text-align: center;
 }

 .img_escola{
   display: inline-block;
 }

 .img_big{
   transition: transform .1s;
 }

 .img_big:hover{
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5);
 }

}

@media only screen and (min-width: 768px) and (max-width: 991px){

 *{
   margin:0;
   padding:0;
 }

 body{
   font-family: Montserrat, sans-serif;

 }

 h1{
   font-size: 24px;
   color: #221f56;
   text-align: center;
   font-family: Montserrat, sans-serif;
 }

 p{
   font-size: 16px;
   text-align: justify;
   color: #333333;
   font-family: Montserrat, sans-serif;
 }

 /*----------- Main -----------------*/

 .h1_main{
   margin-top: 5%;
   text-align: center;
   padding: 20px;
   font-size: 46px;
   font-weight: bold;
   font-family: Montserrat, sans-serif;
   max-width: 100%;
   line-height: 1.33;
 }

 .p_main{
   padding: 10px;
   margin-top: 5px;
  text-align: justify;
   font-size: 18px;
   color:#333333;
   width: 700px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.33;
 }

 .amor{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   margin-top: 50px;
 }

 .icons{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   width: 120px;
   height: 30px;
 }

 .img_escola_container{
  text-align: center;
 }

 .img_escola{
   display: inline-block;
   width: 800px;
 }

 .img_big{
   transition: transform .1s;
 }

 .img_big:hover{
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5);
 }

}


@media only screen and (min-width: 992px) and (max-width: 1999px){

 *{
   margin:0;
   padding:0;
 }

 body{
   font-family: Montserrat, sans-serif;

 }

 h1{
   font-size: 24px;
   color: #221f56;
   text-align: center;
   font-family: Montserrat, sans-serif;
 }

 p{
  font-size: 24px;
   text-align: justify;
   color: #333333;
   font-family: Montserrat, sans-serif;
 }

 /*----------- Main -----------------*/

 .h1_main{
   margin-top: 15%;
   text-align: center;
   padding: 20px;
   font-size: 46px;
   font-weight: bold;
   font-family: Montserrat, sans-serif;
   max-width: 100%;
   line-height: 1.33;
 }

 .p_main{
   margin-top: 5px;
   text-align: justify;
   font-size: 20px;
   color:#333333;
   width: 800px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.33;
 }

 .img_escola_container{
  text-align: center;
 }

 .img_escola{
   display: inline-block;
   width: 800px;
 }

 .img_big{
   transition: transform .1s;
 }

 .img_big:hover{
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5);
 }

}

@media only screen and (min-width: 2000px) {

 *{
   margin:0;
   padding:0;
 }

 body{
   font-family: Montserrat, sans-serif;
   max-width: 2000px;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }

 h1{
   font-size: 24px;
   color: #221f56;
   text-align: center;
   font-family: Montserrat, sans-serif;
 }

 p{
   font-size: 32px;
   text-align: justify;
   color: #333333;
   font-family: Montserrat, sans-serif;
 }

 /*----------- Main -----------------*/

 .h1_main{
   margin-top: 12%;
   text-align: center;
   padding: 20px;
   font-size: 46px;
   font-weight: bold;
   font-family: Montserrat, sans-serif;
   max-width: 100%;
   line-height: 1.33;
 }

 .p_main{
   margin-top: 5px;
   text-align: justify;
   font-size: 20px;
   color:#333333;
   display: block;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.33;
   width: 800px;
 }

 .img_escola_container{
  text-align: center;
 }

 .img_escola{
   display: inline-block;
   width: 800px;
 }

 .img_big{
   transition: transform .1s;
 }

 .img_big:hover{
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5);
 }


}
